* {
    box-sizing: border-box;
}

html {
    font-size: 24px;
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgb(211, 206, 206);
}

/* === HEADER === */
header {
    border-bottom: 1px solid grey;
    box-shadow: grey 10px 10px 10px;
    background-color: white;
    margin-top: -32px;
}

#heading {
    font-size: 2rem;
    margin-left: 300px;
    padding-top: 20px;
}

/* === ADD-NEW-BOOK === */
#button-div {
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
}

#add-new-book {
    font-weight: 700;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
}

/* === DIALOG === */
#new-book-dialog {
    width: 350px;
    height: 380px;
    border: none;
    border-radius: 10px;
    background-color: rgb(164, 164, 164);
}

form > div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#title,
#author,
#pages {
    width: 100%;
    border: none;
    border-radius: 5px;
    font-size: 0.7rem;
    padding: 10px 20px;
}

label:last-of-type {
    margin-bottom: 30px;
}

#add-button,
#close-dialog {
    font-size: 0.7rem;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
}

#add-button {
    background-color: rgb(116, 253, 116);
}

#close-dialog {
    background-color: rgb(238, 93, 93);
}

/* === FORMULAR IN DIALOG === */
output {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
}

.book {
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    width: 500px;
    height: 400px;
    border: none;
    border-radius: 10px;
    font-size: 1.3rem;
    font-weight: 600;
    background-color: white;
    box-shadow: black 0 0 10px;
}

.book p {
    margin: 0;
}

/* READ-STATUS */
.book p:last-of-type {
    border-radius: 10px;
    padding: 10px 50px;
    position: relative;
}

.book p:last-of-type.read {
    background-color: rgb(116, 253, 116);
}

.book p:last-of-type.not-read {
    background-color: rgb(238, 93, 93);
}

.toggle-state-button {
    position: absolute;
    bottom: 15px;
    right: 13px;
}

/* === DELETE-BUTTON === */
.delete-button {
    font-size: 1.3rem;
    padding: 10px 50px;
    border-radius: 10px;
    border: none;
}